/*---------------------------------------------------------------------------------
	Garfunkel Block Editor styles
---------------------------------------------------------------------------------*/

/* Structure --------------------------------- */

.editor-styles-wrapper {
	color: #444;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper > * {
	font-family: 'Crimson Text', 'Times New Roman', 'Times', serif;
	font-size: 21px;
}

/* Structure --------------------------------- */

.wp-block {
	max-width: 700px;
}

.editor-styles-wrapper .editor-block-list__block[data-align="full"] {
    max-width: none;
}

.editor-styles-wrapper .editor-block-list__block[data-align="wide"] {
    max-width: 920px;
}

.editor-styles-wrapper .editor-block-list__block[data-align="right"] .editor-block-list__block-edit,
.editor-styles-wrapper .editor-block-list__block[data-align="left"] .editor-block-list__block-edit {
    max-width: 50%;
}

/* Typography -------------------------------- */

.editor-block-list__layout a,
.block-editor-block-list__layout a {
	color: #ca2017;
	text-decoration: underline;
}

.editor-post-title__block .editor-post-title__input {
	font-size: 45px;
	font-weight: 700;
	line-height: 1.2;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title,
.wp-block h1, 
.wp-block h2, 
.wp-block h3, 
.wp-block h4, 
.wp-block h5, 
.wp-block h6 {
	color: #222;
	font-family: 'Fira Sans', sans-serif !important;
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: 20px;
	margin-top: 50px;
}

.editor-post-title__block .editor-post-title__input { font-size: 45px; }

.wp-block h1 { font-size: 42px; }
.wp-block h2 { font-size: 37px; }
.wp-block h3 { font-size: 32px; }

.wp-block h4 { 
	font-size: 27px; 
	font-weight: 400;
}

.wp-block h5 { 
	font-size: 24px; 
	font-weight: 400;
}

.wp-block h6 {
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p.has-drop-cap:not(:focus):first-letter {
    font-family: 'Fira Sans', sans-serif !important;
}

/* Monospace --------------------------------- */

.editor-styles-wrapper code, 
.editor-styles-wrapper kbd, 
.editor-styles-wrapper pre, 
.editor-styles-wrapper samp {
	font-family: Menlo, Monaco, monospace !important;
}

kbd,
pre,
samp {
	background: #333;
	border-radius: 0;
	color: #fff;
	font-size: .8em;
	padding: 2% 2.5%;
}

pre {
	border-radius: 4px;
	line-height: 1.5;
	padding: 1em;
}

/* Custom Text Sizes ------------------------- */

.editor-styles-wrapper p.has-large-font-size,
.editor-styles-wrapper p.has-large-font-size.mce-content-body,
.editor-styles-wrapper p.has-larger-font-size,
.editor-styles-wrapper p.has-larger-font-size.mce-content-body {
	line-height: 1.4;
}

/* Post Media -------------------------------- */

figure {
	margin: 0;
}

.alignleft,
.alignright {
	margin-bottom: 1.2em;
	max-width: 40%;
}

.wp-caption .alignleft,
.wp-caption .alignright {
	margin-bottom: 0;
}

.alignleft {
	float: left;
	margin-right: 1em;
}

.alignright {
	float: right;
	margin-left: 1em;
}

figcaption {
	color: #666;
	font-family: 'Fira Sans', sans-serif !important;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
}

/* Block: Table ------------------------------ */

table.wp-block-table {
	border: none;
	border-collapse: collapse;
    border-spacing: 0;
	empty-cells: show;
	font-family: 'Fira Sans', sans-serif !important;
    font-size: 16px;
    margin-bottom: 1.1em;
    width: 100%;
}

table.wp-block-table tbody {
	border-top: 1px solid #DDD;
}

table.wp-block-table thead + tbody {
	border-top: none;
}

.wp-block-table th,
.wp-block-table td {
	border: none;
	border-bottom: 1px solid #DDD;
	line-height: 120%;
	margin: 0;
	overflow: visible;
	padding: 0;
}

.wp-block-table caption {
	color: inherit;
	padding: 0;
	text-align: center;
}

.wp-block-table thead {
	vertical-align: bottom;
	white-space: nowrap;
}

.wp-block-table th {
	color: inherit;
	font-weight: 600;
}

.wp-block-table tbody > tr:nth-child(odd) > td { 
	background: #f9f9f9; 
}

/* Block: Separator -------------------------- */

hr.wp-block-separator {
	border: none !important;
	color: #888;
	margin: 2em auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	background: #eee;
	height: 4px;
	max-width: none;
	width: 96px;
}

.wp-block-separator.is-style-wide {
	background: #eee;
	height: 4px;
	width: 100%;
}

.wp-block-separator.is-style-dots:before {
	color: inherit;
}

/* Block: File ------------------------------- */

.wp-block-file {
	background: rgba( 0, 0, 0, 0.05 );
	border-radius: 4px;
	font-family: 'Fira Sans', sans-serif !important;
	padding: 15px 20px;
}

.wp-block-file .editor-rich-text__tinymce {
	font-family: inherit;
}

.wp-block-file__content-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.wp-block-file .wp-block-file__textlink {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
}

.wp-block-file .wp-block-file__button {
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	padding: .8em 1.4em;
}

/* Block: Quote ------------------------------ */

blockquote {
	margin: 0;
}

.wp-block-quote {
	background: #f6f6f6;
	border-color: #e9e9e9;
	border-style: solid;
	border-width: 0 0 0 10px;
	clear: both;
	color: #444;
	display: block;
	font-size: 1em;
	font-style: italic;
	margin: 0 0 1.25em 0;
	padding: 30px;
	position: relative;
}

.wp-block-quote.has-text-align-center {
	border-color: #e9e9e9;
	border-width: 0;
}

.wp-block-quote.has-text-align-right {
	border-color: #e9e9e9;
	border-width: 0 10px 0 0;
}

.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote:not(.is-large):not(.is-style-large) {
	padding: 30px;
}

.editor-styles-wrapper .wp-block-quote p {
	line-height: 1.5;
}

cite,
.wp-block-quote__citation,
.wp-block-pullquote__citation,
.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-pullquote cite,
.wp-block-quote.is-large cite, 
.wp-block-quote.is-large footer, 
.wp-block-quote.is-style-large cite, 
.wp-block-quote.is-style-large footer {
	color: #444;
	font-family: 'Fira Sans', sans-serif !important;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4;
	margin-top: 1em;
	text-transform: none;
}

.wp-block-quote footer:before,
.wp-block-quote__citation:before,
.wp-block-pullquote__citation:before,
cite:before { content: "— "; }

.wp-block-quote.is-large, 
.wp-block-quote.is-style-large {
	font-size: 1.25em;
	font-style: normal;
}

/* Block: Pull Quote ------------------------- */

.wp-block-pullquote {
	border: none;
	font-style: italic;
	padding: 0;
	text-align: left;
}

.wp-block-pullquote.alignleft, 
.wp-block-pullquote.alignright {
	max-width: 50%;
}

.editor-styles-wrapper .wp-block-pullquote.alignleft p,
.editor-styles-wrapper .wp-block-pullquote.alignright p {
	font-size: 1.2em;
	line-height: 1.33;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite {
	color: #666;
}

/* Block: Cover ------------------------------ */

.wp-block-cover {
	color: #fff;
}

.wp-block-cover p {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.2em;
}

.wp-block-cover a {
	color: inherit;
}

/* Block: Verse ------------------------------ */

.wp-block-verse pre, 
pre.wp-block-verse {
	color: #fff;
	font-size: .7em;
}

/* Block: Button ----------------------------- */

.wp-block-button__link {
	background-color: #222;
	border-radius: 3px;
	font-family: 'Fira Sans', sans-serif !important;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.1;
	padding: 18px 24px;
}

.is-style-outline .wp-block-button__link {
	padding: 16px 22px;
}